# hostname for your HypriotOS device
hostname: {{ inventory_hostname }}

# optional wireless network settings
wifi:
  interfaces:
#     wlan0:
#       ssid: "MyNetwork"
#       password: "secret_password"
